.navbar-dropdown-item:hover, .navbar-dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #ecf0f1;
}

.navbar-brand-app {
  display: inline-block;
  padding-top: 0.32421875rem;
  padding-bottom: 0.32421875rem;
  margin-right: 1rem;
  font-size: 1.171875rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand-app:hover, .navbar-brand-app:focus {
  text-decoration: none;
  color: #18BC9C;
}