.landing-container {
    max-width: 600px;
    margin: 0 auto;    
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.link-container {
    padding-top: 20px 15px 20px 15px;
    margin-bottom: 30px;
    letter-spacing: .01em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}